* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 21, 24, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_div {
  max-width: 500px;
  width: 100%;
  height: 412px;
  border: 2px solid red;
  border-radius: 40px;
  background-color: rgba(35, 42, 52, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.star_box {
  max-width: 48px;
  width: 100%;
  height: 48px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(38, 46, 56, 1);
}

.secon_div {
  max-width: 500px;
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main_header {
  font-size: 25px;
  color: white;
  justify-content: flex-start;
  display: flex;
  padding-left: 25px;
  max-width: 199px;
  width: 100%;
}
.header {
  font-size: 13px;
  padding: 25px;
  color: rgba(150, 159, 173, 1);
  max-width: 340px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Overpass Mono", monospace;
}
.num_box {
  max-width: 341px;
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.key_box {
  justify-self: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(38, 46, 56, 1);
  cursor: pointer;
  margin: 5px;
  max-width: 341px;
  width: 100%;
  display: contents;
  height: 51px;
}
.key_box span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(38, 46, 56, 1);
}

.key_box span.active {
  background: orange;
  color: white;
}
.key_box span:hover {
  background-color: orange;
  color: white;
}

.last_box {
  width: 298px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 118, 20, 1);
  border-radius: 50px;
}
.sub {
  height: 23px;

  font-size: 15px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 302px) {
  .last_box {
    max-width: 250px;
    width: 100%;
  }
  .sub {
    max-width: 250px;
    width: 100%;
  }
  .secon_div {
    width: 100%;
  }
  .main_header {
    font-size: 20px;
  }
  .header {
    font-size: 10px;
  }
  .key_box {
    width: 100%;
    max-width: 250px;
  }
  .key_box span {
    max-width: 250px;
    width: 100%;
  }
}
