* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 21, 24, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_div {
  max-width: 500px;
  width: 100%;
  height: 412px;
  border: 2px solid red;
  border-radius: 40px;
  background-color: rgba(35, 42, 52, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.star_box {
  max-width: 48px;
  width: 100%;
  height: 48px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(38, 46, 56, 1);
}

.secon_div {
  max-width: 500px;
  width: 100%;
  height: 94px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main_header {
  font-size: 25px;
  color: white;
  justify-content: flex-start;
  display: flex;
  padding-left: 25px;
  max-width: 199px;
  width: 100%;
}
.header {
  font-size: 13px;
  padding: 25px;
  color: rgba(150, 159, 173, 1);
  max-width: 340px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Overpass Mono", monospace;
}
.oval_div1 {
  width: 296px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.oval_div {
  max-width: 51px;
  width: 100%;
  min-height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #262e38;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #7c8798;
}
.oval_divbox,
.oval_divbox .oval_divbox:active {
  background-color: #fc7614;
  color: white;
}
.oval_div:hover {
  cursor: pointer;
}

.last_box {
  width: 298px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 118, 20, 1);
  border-radius: 50px;
}
.btn {
  width: 100%;
  min-height: 45px;
  background-color: #fc7614;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 2px;
  color: white;
  border: none;
  border-radius: 22.5px;
}

.btn:hover {
  background-color: white;
  color: #fc7614;
  cursor: pointer;
}
.img {
  max-width: 144px;
  width: 100%;
  height: 96px;
}

@media (max-width: 302px) {
  .last_box {
    max-width: 250px;
    width: 100%;
  }
  .sub {
    max-width: 250px;
    width: 100%;
  }
  .secon_div {
    width: 100%;
  }
  .main_header {
    font-size: 20px;
  }
  .header {
    font-size: 10px;
  }
  .oval_div1 {
    max-width: 250px;
    width: 100%;
  }
}
